body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.movie__search-container {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.searchInput{  
  justify-content: center;
  height: 60px;
  width: 500px;
}


.movie__search-select > option{
  border:7px solid green;
  width: auto;
  text-align: center;
}

.button {
  height: 67px;
  width: 70px;
}

select{
  border-radius: 6px;
  height: 67px;
}

.no_movies_alert{
  display: flex;
  justify-content: center;
}

.movie {
  /* width: 50%; */
  display: flex;
  text-align: center;
  justify-content: center;
}

.movie__left-col {
  /* flex: 1; */
}

.movie__right-col {
  /* flex: 1; */
  margin-left: 10px;
  align-self: center;
}

.movie__poster{
  width: 150px;
  justify-content: center;
}

.movie__rating {
  color: blue;
  font-size: 32px;
  font-weight: bold;
}

.movie__tags {
  list-style-type: none;
  padding: 0;
}

.movie__tags > li {
  background: #ccc;
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
}

.movie-card{
  width: 450px;
  display: flex;
  flex-direction: column;
}

.movie-card__poster {
  margin: 10px;
}

.border {
  border: 2px solid red;
}

.movie__info {
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  /* border: 2px solid red; */
  
}

.movie-card__title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-card__title h2 {
  flex-wrap: wrap;
  text-align: center;
}

.movie-card__type {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 6px;
}

.movie-card__type {
  color: red;
  padding: 5px;
  border-radius: 5px;
  background-color: pink;
  display: inline-block;
  text-transform: capitalize;
}

.nav {
  text-align: center;
}